body {
    background-color: rgba(218, 207, 194, 0.863);
    
}

h1, h2, ul {
    text-align: center;
    
}

img {
display: block;
margin: auto;
border-radius: 5px;
}

ul {
    list-style-type: none;
        margin: 0;
    border-left: 5px solid rgb(197, 150, 89);
        background-color: #dfccb3;
        list-style-type: none;
        padding: 10px 20px;
}

ol {
    border-left: 5px solid rgb(197, 150, 89);
        background-color: #dfccb3;
        list-style-type: none;
        padding: 10px 20px;
}


