body {
    background: white
    }

.card {
    background-color: rgb(31, 31, 109);
    padding: 8px;
    width: 300px; 
      
}

.title {
    background-color: white;
    padding: 8px;
    margin: 8px;
}

.content {
    background-color: white;
    padding: 8px;
    margin: 8px;
}

.other {
    background-color: white;
    padding: 8px;
    margin: 8px;
}

.buttone {
        background-color: white;
        padding: 8px;
        margin: 8px;
        text-align: center;
    }

button {
   float: center;
}
    



